@import './variables.scss'

.dark{
    background:rgb(47, 52, 55) none repeat scroll 0% 0%;
    color:$mono-1;
}
.dark .success-background{
    background:$hue-4;
}
.dark .background-active{
    background:$hue-6;
}


